<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
<span>{{$ctrl.time | date: 'HH:mm:ss'}}</span>
