app-dialog {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}

app-dialog .overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.25);
}

app-dialog .overlay.active {
    display: block;
}

app-dialog .dialog {
    position: relative;
    left: 10em;
    top: 10em;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
}

app-dialog .title {
    background-color: red;
    padding: 0.15em;
}

app-dialog .content {
    background-color: blue;
    height: 100%;
}